<?xml version="1.0"?>
<!--
    /**
    * Copyright © 2019 V2Agency . All rights reserved.
    * 
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="V2Agency_Callforprice::callforprice" title="Call For Price" sortOrder="80" />
                        </resource>
                    </resource>
                </resource>
                <resource id="V2Agency_Callforprice::callforprice_settings" title="Call For Price">
                    <resource id="V2Agency_Callforprice::request" title="Requests"/>
                    <resource id="V2Agency_Callforprice::settings" title="Settings"/>
                    <resource id="V2Agency_Callforprice::delete" title="Save/Reply Request"/>
                    <resource id="V2Agency_Callforprice::save" title="Delete Request"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>